
body {

    background-color: rgb(196, 238, 255);
    margin-top: 30px;
}

.fixed {
    position: fixed;
    left: 0;
    top: 0;
    color: #DFF5FF;
    background-color: #387ADF;
    width: 100%;
    padding: 10px;
}

.static {
    position: static;
    height: 300px;
    width: 60%;
    color: #DFF5FF;
    padding: 10px;
    border: 5px solid #67C6E3;
}

#p1 {
    background-color: #596FB7;
    margin-top: 150px;
}

#p2 {
    background-color: #1B3C73;
    margin-top: 50px;
}

#p3 {
    background-color: #51829B;
    margin-top: 50px;
}

#p4 {
    background-color: #596FB7;
    margin-top: 50px;
}

#p5 {
    background-color: #1B3C73;
    margin-top: 50px;
}

#p6 {
    background-color: #51829B;
    margin-top: 50px;
}

#p7 {
    background-color: #596FB7;
    margin-top: 50px;
}

#p8 {
    background-color: #1B3C73;
    margin-top: 50px;
}

#p9 {
    background-color: #51829B;
    margin-top: 50px;
}

#p10 {
    background-color: #596FB7;
    margin-top: 50px;
}

.static2 {
    position: static;
    height: 150px;
    width: 35%;
    color: #DFF5FF;
    margin-left: 63%;
    padding: 10px;
    border: 5px solid #67C6E3;
}

#p11 {
    background-color: #891652;
    margin-top: -3746px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    margin-left: 63%;
    height: 150px;
 
    top: 200px;
    padding: 10px;
    background-color: #007F73;
    color: #DFF5FF;
    border: 5px solid #67C6E3;
    width: 35%;
}

#p12 {
    background-color: #007F73;
    margin-top: 0px;
}

#p13 {
    background-color: #8C6A5D;
    margin-top: 0px;
}

#p14 {
    background-color: #378CE7;
    margin-top: 0px;
}

#p15 {
    background-color: #430A5D;
    margin-top: 0px;
}
#p16 {
    background-color: #9c2e67;
    margin-top: 0px;
}

#p17 {
    background-color: #1B3C73;
    margin-top: 0px;
}

#p18 {
    background-color: #0f6e9d;
    margin-top: 0px;
}

.static3 {
    position: static;
    height: 60px;
    width: 98%;
    color: #DFF5FF;
    padding: 10px;
    border: 5px solid #67C6E3;
}
#p19 {
    background-color: #222831;
    margin-top: 2400px;
}



